.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 90px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  /* width: 20vw; */
  transition: background 200ms, border 200ms;
}

.main .search{
  border-radius: 60px;
  height: 3px;
  width: 40vw;
  padding: 3vh;
  margin: 50px 0 50px 0;
}

.grid .price{
  margin: 10px 0;
  font-size: 18px;
}

.grid .norecord{
  font-size: 30px;
  text-wrap: nowrap;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  margin: 10px 0;
  line-height: 2;
  font-family: var(--font-mono);
}

.card .productImage{
  align-self: center;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 920px;
    text-align: center;
  }

  .card {
    width: 70vw;
    padding: 1px 2.5px;
  }

  .description {
    font-size: 0.8rem;
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
